[Service]
RuntimeDirectory= podman_network_vpn
EnvironmentFile=-/run/podman/vpn/network/env
ExecStartPre= touch /run/podman/vpn/network/env
ExecStartPre= /bin/sh -c 'echo "NIC=$(nmcli connection show --active |grep ethernet|head -n 1 | cut -d " "  -f 1)" >> /run/podman/vpn/network/env'
ExecStartPre= /bin/sh -c 'echo "SUBNET=$(ip route | grep $NIC |grep "[0-9.]*/[0-9.]*" | cut -d " " -f 1)" >> /run/podman/vpn/network/env'
ExecStartPre= /bin/sh -c 'echo "GATEWAY=$(ip route | grep $NIC |grep default | cut -d " " -f 3)" >> /run/podman/vpn/network/env'
ExecStartPre= cat /run/podman/vpn/network/env

[Network]
NetworkName=USER-NET
ServiceName=podman_network_vpn
Driver= ipvlan
Gateway= ${GATEWAY}
Subnet= ${SUBNET}
InterfaceName= ${NIC}
