[Container]
ServiceName=podman_container_vpn_wireguard
ContainerName=vpn-wireguard
Image=localhost/vpn
Pod=vpn-pod.pod
DropCapability=all
AddCapability=CAP_NET_ADMIN
AutoUpdate=local
