[Unit]
After=podman_pod_vpn.service
BindsTo=podman_pod_vpn.service

[Install]
RequiredBy=podman_pod_vpn.service

[Service]
Type=simple
Environment=VOLUME_NAME=vpn-volume
Environment=POD_NAME=vpn-pod
Environment=CONTAINER_NAME=vpn-wireguard
ExecStartPre=/bin/sh -c 'touch $(podman volume mount ${VOLUME_NAME})/${CONTAINER_NAME}/logs/kernel.log'
ExecStart=/bin/sh -c 'journalctl -f -k | grep wireguard --line-buffered | tee $(podman volume mount ${VOLUME_NAME})/${CONTAINER_NAME}/logs/kernel.log'
Restart=always
RestartSec=5
