[Unit]
After=podman_pod_VPN.service
BindsTo=podman_pod_VPN.service

[Install]
RequiredBy=podman_pod_VPN.service

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'touch $(podman volume mount VPN)/vpn-wireguard/logs/kernel.log'
ExecStart=/bin/sh -c 'journalctl -f -k | grep wireguard --line-buffered | tee $(podman volume mount VPN)/vpn-wireguard/logs/kernel.log'
Restart=always
RestartSec=5
